@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "peacock-sans";
    src: local("peacock-sans"),
        url("./fonts/peacock_sans-black.woff2") format("woff");
    font-weight: "black";
}
@font-face {
    font-family: "peacock-sans";
    src: local("peacock-sans"),
        url("./fonts/peacock_sans-medium.woff2") format("woff");
    font-weight: "medium";
}

* {
    font-family: "peacock-sans";
}

body {
    background-color: #000;
}

@layer components {
    .header-container {
        @apply h-[8.5rem] flex flex-col justify-end md:h-[9.25rem] duration-200 fixed w-full lg:h-28 lg:flex-row lg:justify-evenly lg:items-center lg:bg-gradient-to-b lg:from-black bg-black lg:bg-transparent top-0;
    }
    .image-container-mobile {
        @apply h-10 cursor-pointer w-20 lg:hidden;
    }
    .mobile-logo {
        @apply h-10 top-9 absolute left-6 lg:hidden;
    }
    .nav-links-wrapper {
        @apply flex flex-row overflow-auto w-full lg:hidden;
    }
    .nav-links {
        @apply h-12 flex items-center mx-4 md:my-2 md:mx-5 whitespace-nowrap duration-200;
    }
    .nav-anchor {
        @apply text-[#999999] hover:text-white duration-150;
    }
    .bottom-nav-container {
        @apply h-48 bottom-0  bg-gradient-to-t from-black w-full flex justify-center items-center fixed pt-8;
    }
}
