@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "peacock-sans";
    src: local("peacock-sans"),
        url("./fonts/peacock_sans-black.woff2") format("woff");
    font-weight: "black";
}
@font-face {
    font-family: "peacock-sans";
    src: local("peacock-sans"),
        url("./fonts/peacock_sans-medium.woff2") format("woff");
    font-weight: "medium";
}

* {
    font-family: "peacock-sans";
}

body {
    background-color: #000;
}


/* HEADER CSS */
@layer components {
    .header-container {
        @apply fixed top-0 flex h-[8.5rem] w-full flex-col justify-end bg-black duration-200 md:h-[9.25rem] lg:h-28 lg:flex-row lg:items-center lg:justify-evenly lg:bg-transparent lg:bg-gradient-to-b lg:from-black;
    }
    .image-container-mobile {
        @apply h-10 w-20 cursor-pointer lg:hidden;
    }
    .mobile-logo {
        @apply absolute top-9 left-6 h-10 lg:hidden;
    }
    .nav-links-wrapper {
        @apply flex w-full flex-row overflow-auto lg:hidden;
    }
    .nav-links {
        @apply mx-4 flex h-12 items-center whitespace-nowrap duration-200 md:my-2 md:mx-5;
    }
    .nav-anchor {
        @apply text-[#999999] duration-150 hover:text-white;
    }
    .bottom-nav-container {
        @apply fixed -bottom-5 flex  h-48 w-full items-center justify-center bg-gradient-to-t from-black pt-8 md:bottom-0;
    }
}


/* Swiper Pagination CSS */
.swiper-pagination {
    position: relative !important;
    top: -13.5vw !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 2rem !important;
    z-index: 1 !important;
}

.swiper-pagination-bullet {
    border-radius: 9999px !important;
    width: 4px !important;
    height: 4px !important;
    text-align: center;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.5) !important;
    transition-duration: 300ms;
    opacity: 1 !important;
    margin: 0 0.5rem !important;
}

.swiper-pagination-bullet-active {
    background: #facc15 !important;
    width: 16px !important;
    height: 16px !important;
    transition-duration: 300ms;
}

@media (min-width: 768px) {
    .swiper-pagination-bullet {
        border-radius: 9999px !important;
        width: 8px !important;
        height: 8px !important;
        text-align: center;
        line-height: 30px;
        background: rgba(255, 255, 255, 0.5) !important;
        transition-duration: 300ms;
        opacity: 1 !important;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .swiper-pagination-bullet-active {
        background: #facc15 !important;
        width: 32px !important;
        height: 32px !important;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .swiper-pagination {
        top: -13vw !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 2rem !important;
        z-index: 1 !important;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media (min-width: 1024px) {
    .swiper-pagination {
        top: -10vw !important;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media (min-width: 1280px) {
    .swiper-pagination {
        top: -15vw !important;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media (min-width: 1536px) {
    .swiper-pagination {
        top: -17vw !important;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
